.associated-con {
  padding: 0 10px 10px;
}

.order-con {
  margin-top: 10px;
  border-radius: 5px;
}

.order-con:first-of-type {
  margin-top: 60px;
}

.order-right {
  margin-left: 20px;
  padding: 10px 0;
  width: 100%;
}

.order-right p {
  margin-top: 10px;
}

.address-con .time {
  float: right;
  color: #a1a1a1;
}

.address-con .price {
  color: #ff4848;
  float: right;
}

.address-con {
  background: #fff;
  background-size: 100% 100%;
  padding: 10px 15px 35px;
  border-bottom: 1px solid #f4f4f4;
  margin-top: 15px;
  border-radius: 8px;
  box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.11);
}
