.associated-con {
  padding: 0 10px;
}

.order-con {
  margin-top: 10px;
  border-radius: 5px;
}

.order-con:first-of-type {
  margin-top: 60px;
}

.order-right {
  margin-left: 20px;
  padding: 10px 0;
  width: 100%;
}

.order-right p {
  margin-top: 10px;
}

.order-right .time {
  float: right;
  color: #a1a1a1;
}

.order-right .price {
  color: #ff4848;
  float: right;
}
